body {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-family: 'OCR A Extended', 'Courier New', monospace;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/background.png);
    background-size: 20%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right 30px bottom 30px;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#react-app {
    width: 100%;
    position: relative;
    height: 90%;
}

.button {
    color: #000000;
}

.button[disabled] {
    color: lightgrey;
}

body h1 {
    color: #90ee90;
    width: 900px;
    margin: 10px auto;
}

@font-face {
    font-family: "OCR A Extended";
    src: url("../fonts/ocraext.ttf");
}

.error {
    color: #ff0000;
}

.bitcoinGame {
    position: relative;
    border: 3px solid #90ee90;
    border-radius: 20px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #000000;
}

.login {
    border: 3px solid #90ee90;
    border-radius: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.login h2 {
    margin: 0 0 20px;
}

.inputField {
    color: #000000;
    width: 200px;
    font-size: 16px;
    display: block;
    margin: auto;
}

.login button {
    color: #000000;
    display: block;
    margin: 10px auto auto;
}

.roundManager {
    margin: 20px 0;
    height: 63px;
}

.noRoundActive {
    line-height: 63px;
}

.roundNumber {
    font-size: 28px;
}

.timeLeft {
    font-size: 22px;
    margin-top: -5px;
}

.gameManager .gameStatus {
    display: inline-block;
    width: 50%;
}

.gameManager .moneyWonSoFar {
    display: inline-block;
    width: 50%;
}

.moneyWonSoFar .moneyWonSoFarHeader {
    font-size: 22px;
    margin: 0;
}

.moneyWonSoFar .moneyWonSoFarText {
    font-size: 18px;
    color: #90ee90;
}

.gameStatus .gameStatusHeader {
    font-size: 22px;
    margin: 0;
}

.gameStatus .gameStatusText {
    font-size: 18px;
    color: #90ee90;
}

.gameStatus .gameStatusText.error {
    color: #ff0000;
}

.wallet, .playerResult {
    width: 500px;
    padding: 10px 90px;
    bottom: 30px;
    display: block;
    margin: 0 auto;

    border: 3px solid;
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, deepskyblue 50%, rgba(0, 0, 0, 0) 100%)
    100% 0 100% 0/3px 0 3px 0 stretch;
}

.wallet .currentBalance, .wallet .walletAddress {
    text-align: center;
    display: inline-block;
    width: 50%;
}

.wallet .currentBalance .currentBalanceHeader {
    width: 100%;
    display: block;
}

.wallet .currentBalance .currentBalanceText, .wallet .walletAddress .walletAddressText {
    width: 100%;
    display: block;
    margin: 0;
    font-size: 28px;
}

.wallet .walletAddress .walletAddressHeader {
    width: 100%;
    display: block;
}

.wallet .walletHeader {
    height: 30px;
    font-size: 22px;
    margin: 0 0 10px;
}

.currentBalanceHeader {
    display: inline;
    font-size: 18px;
}

.currentBalanceText {
    display: inline;
    font-size: 18px;
    color: #ffff00;
    font-weight: bold;
    margin-left: 10px;
}

.walletAddressHeader {
    display: inline;
    font-size: 18px;
}

.walletAddressText {
    display: inline;
    font-size: 18px;
    color: #ffff00;
    font-weight: bold;
    margin-left: 10px;
}

.nonPlayerWallet {
    margin-right: 40px;
    display: inline-block;
    width: 255px;
    padding: 10px;

    border: 3px solid;
    border-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, #90ee90 50%, rgba(0, 0, 0, 0) 100%)
    100% 0 100% 0/3px 0 3px 0 stretch;
}

.nonPlayerWallet:last-child {
    margin-right: 0;
}

.nonPlayerWallets {
    margin: 20px 0;
}

.nonPlayerWallet .walletHeader {
    height: 50px;
    font-size: 22px;
    margin: 0 0 20px;
}

.nonPlayerWallet .currentBalance {
    display: block;
}

.nonPlayerWallet .walletAddress {
    display: block;
}

.makeTransaction {
    margin-top: 10px;
}

.makeTransaction .amount {
    display: inline-block;
    width: 50%;
}

.makeTransaction .makeTransactionHeader {
    font-size: 22px;
}

.makeTransaction .inputField {
    width: 150px;
    text-align: center;
}

.makeTransaction .button {
    margin-top: 10px;
}

.makeTransaction .receiverAddress {
    display: inline-block;
    width: 50%;
}

.playerResult .currentBalanceHeader, .playerResult .jokersWonHeader {
    display: block;
    width: 100%;
    font-size: 18px;
}

.playerResult .currentBalanceText, .playerResult .jokersWonText {
    font-size: 32px;
    color: yellow;
}

.playerResultHeader {
    margin: 0 0 10px;
}

