<div class="wrapper">
    <h1>De Mol 2018 - Bitcoinspel</h1>
    <div id="react-app" asp-prerender-module="ClientApp/dist/main-server">Loading...</div>
</div>

@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
